.DS_Store
pom.xml
*jar
lib/*
classes/*
out/*
target/*
.lein-deps-sum
.lein-repl-history
.lein-plugins/*
node_modules/*
*.iml
*.ipr
*.iws
electron/*
app/dev/js/out_front/*
app/dev/js/out_main/*
app/prod/js/out_front/*
app/prod/js/out_main/*
.nrepl-port
figwheel_server.log
